title: Essential Education
email: raj@example.com
description: >- # this means to ignore newlines until "baseurl:"
  A library for agency, strategy, and ethical power.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
theme: minima
plugins:
  - jekyll-feed

defaults:
  - scope:
      path: ""
    values:
      layout: "default"